body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.sentenceContainer{
    /* border-style: solid; */
    /* border-width: 1px; */
    display: flex;
    margin-top: 20px;
    background-color: lightblue;
    border-radius: 5px;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.sentence{
    /* border-style: solid; */
    /* border-width: 1px; */
    /* position: absolute; */
    padding: 5px 5px; /* to centre the words in the div */
}

.eachWord { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    /* width: 50%;  */
    /* height: 150px; */
}

.check{
    /* border-style: solid; */
    /* border-width: 1px; */
    width: 100%;
}

img {
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 40%; */
    /* all below to centre the icon */
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.eachWord li { 
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    /* background-color: lightseagreen; */

    margin: 3px; 
    padding-left: 10px; 
    padding-right: 10px;
    float: left; 
    cursor: grab;
    /* width: 10%;  */
    /* height: 40px;  */
    font-size: 1.5em; 
    text-align: center; 
}

.sortable {
    /* background-color: gray; */
}

.notSortable {
    background-color: lightseagreen;
}

.highlight {
    /* border: solid red; */
    font-weight: bold;
    /* font-size: 45px; */
    background-color: gray;
}

.mainContainer {
    padding-top: 5%;
}

.sentenceContainer {
    display: flex;
}

.sentenceNumber{
    /* border-style: solid; */
    /* border-width: 1px; */
    /* margin-right: 1%; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* margin: auto; */
    /* width: 50%; */
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}