body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.sentenceContainer{
    box-shadow: 5px 5px 5px grey;
    display: flex;
    background-color: lightblue;
    border-radius: 5px;
}

.sentence{
    padding: 5px 5px; /* to centre the words in the div */
}

.eachWord { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.check{
    width: 100%;
}

img {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.eachWord li { 
    border-style: solid;
    border-width: thin;
    border-radius: 5px;

    margin: 3px; 
    padding-left: 10px; 
    padding-right: 10px;
    float: left; 
    font-size: 1.5em; 
    text-align: center; 
  }
  
  .sortable {
    cursor: move;
}

.notSortable {
    cursor: not-allowed;
    background-color: lightseagreen;
}

.mainContainer {
    padding: 0 1rem 2rem 1rem;
}

.row {
  padding-top: 3%;
}

p.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.sentenceContainer {
  display: flex;
}

.sentenceNumber{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}