<div class="container titleContainer border shadow rounded">
    <h1>Git commands</h1>
    <h2>Here are some git commands. What do they do? Put the sentences in order to explain each command.</h2>
</div>  