{{> common/navbar create=true}}

<div class='container'>
  {{> common/title title}}

  <div class="container-sm">
    {{#each data}}
    <div class="row">
      <div class="col"></div>
      <div class="col-sm-8">
      <a class='btn btn-block btn-primary mb-3 p-3 mx-auto shadow' href='/wio/{{{_id}}}'>
        {{description}}
      </a>
      </div>
      <div class="col"></div>
    </div>
    {{/each}}
  </div>
</div>