body {
    font-size: 16px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 2em;
  margin: 0.3em;
}

h2 {
  font-size: 1.2em;
}

p {
    margin: 0;
}

.sentenceContainer{
    display: flex;
    flex-direction: row; /* this is default when display: flex */
    background-color: lightblue;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.sentence{
    padding: 5px 5px; /* to centre the words in the div */
}

.eachWord { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.check{
    width: 100%;
}

img {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eachWord li { 
    border: thin solid black;
    border-radius: 5px;

    margin: 3px; 
    padding-left: 10px; 
    padding-right: 10px;
    float: left; 
    font-size: 1.1em; 
    text-align: center; 
}
  
.sortable {
    cursor: move;
}

.notSortable {
    cursor: not-allowed;
    background-color: lightseagreen;
}

.mainContainer {
    padding: 0 2rem 2rem 2rem;
}

.row {
  padding-top: 3%;
}

p.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    margin-bottom: 1em;
    max-width: 100%;
    overflow: auto;
    padding: 0.5em 1.5em;
    display: block;
    word-wrap: break-word;
}

.sentenceNumberContainer{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer {
  text-align: center;
  background-color: lightseagreen;
  margin-bottom: 2em;
}