@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Merriweather+Sans&family=Ruda&display=swap');

:root {
  /* define colours */
  --nav-color: #1f57b2;
  --nav-text: #ededed;
  --nav-hover: #ffffff;
  --title-color: #1fb249;
  --exercise-container-color: #daf9f7;
  --sortable-color: #adf0ed;
  --not-sortable-color: #48df73;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: white;
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: 'Ruda', sans-serif;
  /* font-family: 'EB Garamond', serif;   */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

/* .nav {
  background-color: var(--nav-color);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-left {
  font-size: 1.5em;
  color: var(--nav-text);
  text-align: left;
  padding: 1em 1em;
  margin-right: auto;
  text-decoration: none;
}

.nav-left:hover{
  color: var(--nav-hover);
}

.nav-right {
  margin-right: 1.5rem;
  color: var(--nav-text);
  text-decoration: none;
}

.nav-right:hover {
  color: var(--nav-hover);
} */

.main-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

.title {
  padding: 1em;
  text-align: center;
  background-color: var(--title-color);
  border-radius: 5px;
  margin-bottom: 4em;
}

.exercise-container {
  background-color: var(--exercise-container-color);
  border-radius: 5px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  /* grid container properties */
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-template-rows: 1;
  grid-template-areas: 'sentence check';
}

.sentence {
  grid-area: sentence;
  padding: 1rem;
  /* this item/fraction of the grid is a flexbox itself */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.word {
  font-size: 1.1em;
  margin: 5px 3px;
  padding: 3px 10px;
  border: thin solid black;
  border-radius: 5px;
}

.check {
  grid-area: check;
  place-self: center center; /* shortcut for align-self (inline axis) and justify-self (block axis) */
}

img {
  height: 60%;
  width: 60%;
}

.sortable {
  cursor: move;
  background-color: var(--sortable-color);
}

.notSortable {
  cursor: not-allowed;
  background-color: var(--not-sortable-color);
}

.comment {
  background: #f4f4f4;
  color: #666;
  font-size: 0.7rem;
  font-family: monospace;
  border: 1px solid #ddd;
  border-left: 3px solid var(--title-color);
  page-break-inside: avoid;
  max-width: 100%;
  overflow: auto;
  word-wrap: break-word;
  padding: 0.5em 1.5em;
  margin-bottom: 1em;
}

.sentence-number {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal classes */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5rem; /* location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header {
  padding: 1rem;
  background-color: var(--title-color);
  color: white;
  /* flexbox, one item to the left, the other to the right */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  padding: 1rem;
  background-color: var(--title-color);
  color: white;
  /* flexbox right-side aligned */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* modal is relatively smaller if on desktop */
@media (min-width: 768px) {
  .modal-content {
    width: 40%;
  }
}

/* animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* close button */
.close {
  color: #aaa;
  font-size: 1.3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.games {
  display: block;
  background-color: var(--exercise-container-color);
  color: black;
  border-radius: 5px;
  width: 90%;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  text-decoration: none;
}

.games:hover {
  background-color: var(--nav-color);
}

/* .games is relatively smaller if on desktop */
@media (min-width: 768px) {
  .games {
    width: 50%;
  }
}

.create-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

.create-box {
  background-color: var(--exercise-container-color);
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.create-sentence-box {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'create-sentence-title create-sentence-title'
    'create-sentence-input create-sentence-controls'
    'create-sentence-buttons create-sentence-buttons';
}

.create-sentence-title {
  grid-area: create-sentence-title;
  text-align: center;
  margin-bottom: 1rem;
}

.create-sentence-input {
  grid-area: create-sentence-input;
}

.create-sentence-controls {
  grid-area: create-sentence-controls;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-buttons {
  grid-area: create-sentence-buttons;
  display: flex;
  justify-content: flex-end;
}

.create-button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background-color: var(--title-color);
  border: 0 none;
  border-radius: 5px;
}

/* input[type='text'] {
  display: block;
  padding: 5px;
  margin: 5px auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  border-bottom: 1px solid #eee;
  /* box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */
  font-family: inherit;
  font-size: inherit;
} */

textarea {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 450px;
}

hr {
  border-top: 1px solid #ccc;
  height: 1px;
}

.section__tools i {
  cursor: pointer;
}
/* 404 */
.center {
  text-align: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9d8ce16b9417004cc2660ff8b3a90f0c6c3e7020
