{{> wio/navbar }}

<div class="main-container">
    {{> common/title title}}
{{!--

    <div class="create-container">
      <form method='POST' action='/wio/submit'>
        <div class="create-box shadow">
          <label for='description'>Description:</label>
          <input type="text" id="description" name="description" placeholder="{{game.description}}" />
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" placeholder="{{game.title.main}}" />
          <label for="subtitle">Subtitle:</label>
          <input type="text" id="subtitle" name="subtitle" placeholder="{{game.title.subtitle}}" />
        </div>

        !-- hbs: hyphen in filename is replaced with underscore --
        {{#each game.data}}
          {{> wio/create_sentence}} 
        {{/each}}

        <div class="create-buttons">
          !-- default button type is 'submit', so have to specify  --
          <button type='button' class="create-button" id="add-sentence" >Add sentence</button>
          <input class="create-button" type="submit">
        </div>
      </form>
    </div>

--}}


    <form method='POST' action='/wio/submit'>
      <label for='data'>Enter new game data:</label>
      <textarea class="textarea" id='data' name='data'>
{ 
  description: 'This shows in the games list',
  title: {
      main: 'Title of the game', 
      subtitle: 'Subtitle of the game' 
    },
  data: [
    { 
      comment: 'One sentence', 
      words: 'This is one sentence' 
    },
    { 
      comment: 'Another sentence', 
      words: 'This is another sentence' 
    },
    { 
      comment: '', 
      words: 'Third sentence no comment.' 
    },
  ]
}
      </textarea>
      <div class="create-buttons">
        <input class="create-button" type="submit">
      </div>
    </form>
</div>


<script type="text/javascript" src="/javascripts/wio-create.js"></script>