<nav class='nav'>
  <div class='nav-left'>Round English</div>
  {{#if create}}
    <p class="nav-right">Create New</p>
    <a href="/wio/create">
      <i class="nav-right fa fa-plus-circle fa-4x"></i>
    </a>
  {{/if}}
</nav>