<nav class='nav'>
  <a href="/" class='nav-left'>
    <div>Round English</div>
  </a>
  {{#if create}}
    <a href="/wio/create" class="nav-right">
      <p>Create New</p>
    </a>
    <a href="/wio/create" class="nav-right">
      <i class="fa fa-plus-circle fa-4x"></i>
    </a>
  {{/if}}
</nav>