{{> wio/game/modal}}
{{> common/navbar }}

<div class="container">
  {{> common/title title}}

  <div class="main-container">
    {{> wio/game/sentences }}
  </div>
</div>

<!-- SortableJS -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<!-- My own javascript -->
<script type="application/javascript">const sentences = {{{ convert sentences }}}</script>
<script type="text/javascript" src="/javascripts/hbs_dragging.js"></script>