{{> wio/game/modal}}
{{> common/navbar }}

<div class="main-container">
    {{> common/title title}}
    {{> wio/game/sentences }}
</div>

<!-- SortableJS -->
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<!-- My own javascript -->
<script type="application/javascript">const sentences = {{{convert sentences}}}</script>
<script type="text/javascript" src="/javascripts/hbs_dragging.js"></script>
